<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WP_SuAboneTakip.Properties.Settings.databaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\database.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="WP_SuAboneTakip.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=SALAR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WP_SuAboneTakip.Properties.Settings.masterConnectionString"
            connectionString="Data Source=ODA\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WP_SuAboneTakip.Properties.Settings.DataSourceConnectionString1"
            connectionString="Data Source=ODA\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>